<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>OracleChat</title>
</head>

    <body>
        <h1>Oracle Peer to Peer Chat</h1>
        <form class="form-inline" th:action="@{/index}" th:object="${user}" method="post">
            <div class="form-group">
                <label>Your username:</label>
                <input type="text" class="form-control" th:field="*{name}"/>
                <input type="hidden" class="form-control" th:field="*{id}"/>
            </div>
            <button type="submit" class="btn btn-default">Update</button>
        </form>

        <ul th:object="${defaultMessage}">
            <li th:text="*{userName}"/>
            <p th:text="*{text}"/>
        </ul>

        <ul th:each="message : ${messages}" th:object="${message}">
            <li th:text="*{userName}"/>
            <p th:text="*{text}"/>
        </ul>

        <form class="form-inline" th:action="@{/index/addmessage}" th:object="${newMessage}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" th:field="*{text}"/>
                <input type="hidden" th:field="*{userName}"/>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </form>
        <a class="btn btn-default" href="/index?userId=1">Refresh</a>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

</html>