<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <meta charset="UTF-8"/>
    <title>Please Login to OracleChat</title>
</head>

<body>

    <h1>Enter</h1>

    <form class="form-inline" th:action="@{/enter}" th:object="${user}" method="post">
        <div class="form-group">
            <label>Choose your name:</label>
            <input type="text" class="form-control" th:field="*{name}" placeholder="Your name here"/>
        </div>
        <button type="submit" class="btn btn-default">Enter</button>
    </form>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>